{% load static %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" href="admin-dashboard.html">Admin Dashboard</a></li>
                       <li><a href="{% url 'employee-login' %}">Employee Dashboard</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <span>Employees</span>
                </li>
                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'all-employee' %}">All Employees</a></li>
                        <li><a href="{% url 'employee-holidays' %}">Holidays</a></li>
                        <li><a href="{% url 'employee-leave' %}">Leaves (Employee)</a></li>
                        <li><a href="{% url 'employee-attendance' %}">Attendance (Employee)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'clint' %}"><i class="la la-users"></i> <span>Clients</span></a>
                </li>
                <li class="menu-title">
                    <span>HPT Values</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-building"></i> <span> HPT values </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="estimates.html">Overview</a></li>
                        <li><a href="invoices.html">Passion</a></li>
                        <li><a href="payments.html">Inclusion</a></li>
                        <li><a href="expenses.html">Integrity</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <span>Service Portal (ES3)</span>
                </li>
                <li class="menu-title">
                    <span>Employee Business Service</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-graduation-cap"></i> <span> Technology Service </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="performance-indicator.html"> My Incidents </a></li>
                        <li><a href="performance.html"> My Cases </a></li>
                        <li><a href="performance-appraisal.html"> My Requests </a></li>
                        <li><a href="performance-appraisal.html"> My Tasks </a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Services & Support </span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-crosshairs"></i> <span> Employee Services </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="goal-tracking.html"> Time and Pay </a></li>
                        <li><a href="goal-type.html"> Expense Reports </a></li>
                        <li><a href="goal-type.html"> Benefits </a></li>
                        <li><a href="goal-type.html"> Travel </a></li>
                        <li><a href="goal-type.html"> Training / Learning </a></li>
                        <li><a href="goal-type.html"> HR Customer Service </a></li>
                        <li><a href="goal-type.html"> Employee Management </a></li>
                        <li><a href="goal-type.html"> Employment Marketing </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-edit"></i> <span> Technology Services</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="training.html"> Enterprise Application Support </a></li>
                        <li><a href="trainers.html"> Computer Hardware and Software, including VDS</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-edit"></i> <span> Enterprise Application</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="training.html"> MyData (PowerBI) </a></li>
                        <li><a href="trainers.html"> Telephones / Mobile / Wireless</a></li>
                        <li><a href="trainers.html"> Cyber Security</a></li>
                        <li><a href="trainers.html"> Enterprise Cloud Services</a></li>
                        <li><a href="trainers.html"> Collaboration</a></li>
                        <li><a href="trainers.html"> IT Service Management (ITO Only)</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-edit"></i> <span> Business Services</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="training.html"> Financial Services) </a></li>
                        <li><a href="trainers.html"> Contract Services</a></li>
                        <li><a href="trainers.html"> Purchasing Services</a></li>
                        <li><a href="trainers.html"> Facilities Services</a></li>
                        <li><a href="trainers.html"> Security Services</a></li>
                        <li><a href="trainers.html"> Records Management</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-edit"></i> <span> KB Top Viewed</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="training.html"> HPT Password Resets </a></li>
                        <li><a href="trainers.html"> MobileIron User Setup Guide for iOS/iPhone</a></li>
                        <li><a href="trainers.html"> ITO Change Request Instructionses</a></li>
                        <li><a href="trainers.html"> Microsoft Teams Support at HPT</a></li>
                        <li><a href="trainers.html"> Approval Process for New Software Installs</a></li>
                        <li><a href="trainers.html"> Teams Sign-On Troubleshooting</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Webmail</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-briefcase"></i> <span> ITO </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="user-dashboard.html"> Overview </a></li>
                        <li><a href="jobs-dashboard.html"> Contact Us </a></li>
                        <li><a href="jobs.html"> Peer-to-Peer Recognition Program </a></li>
                        <li><a href="manage-resumes.html"> Collaboration Services </a></li>
                        <li><a href="shortlist-candidates.html"> SharePoint Modernization </a></li>
                        <li><a href="interview-questions.html"> Email </a></li>
                        <li><a href="offer_approvals.html"> Skype for Business </a></li>
                        <li><a href="experiance-level.html"> Audio Conferencing</a></li>
                        <li><a href="candidates.html"> Web Conferencingt </a></li>
                        <li><a href="schedule-timing.html"> UC Webinar Calendar </a></li>
                        <li><a href="apptitude-result.html"> Video Conferencing </a></li>
                        <li><a href="apptitude-result.html"> SFTP </a></li>
                        <li><a href="apptitude-result.html"> Unisys SharePoint Migration </a></li>
                        <li><a href="apptitude-result.html"> MyPortal.HPT.com </a></li>
                        <li><a href="apptitude-result.html"> Computers </a></li>
                        <li><a href="apptitude-result.html"> Hardware </a></li>
                        <li><a href="apptitude-result.html"> Software </a></li>
                        <li><a href="apptitude-result.html"> Windows 10 </a></li>
                        <li><a href="apptitude-result.html"> Office 2016 </a></li>
                        <li><a href="apptitude-result.html"> Internet Browsers </a></li>
                        <li><a href="apptitude-result.html"> Virtual Desktop Service (VDS) </a></li>
                        <li><a href="apptitude-result.html"> Trusted Desktop </a></li>
                        <li><a href="apptitude-result.html"> ITO Support </a></li>
                        <li><a href="apptitude-result.html"> Database Passwords </a></li>
                        <li><a href="apptitude-result.html"> Account Access </a></li>
                        <li><a href="apptitude-result.html"> Workstation Support </a></li>
                        <li><a href="apptitude-result.html"> Equipment Disposal </a></li>
                        <li><a href="apptitude-result.html"> Web Services </a></li>
                        <li><a href="apptitude-result.html"> Sponsor a Non-Employee </a></li>
                        <li><a href="apptitude-result.html"> Phone Services </a></li>
                        <li><a href="apptitude-result.html"> Desktop Phones </a></li>
                        <li><a href="apptitude-result.html"> ZOOM Phones </a></li>
                        <li><a href="apptitude-result.html"> Mobile Phones </a></li>
                        <li><a href="apptitude-result.html"> International Phones </a></li>
                        <li><a href="apptitude-result.html"> Personal Use Phones </a></li>
                        <li><a href="apptitude-result.html"> Network Services </a></li>
                        <li><a href="apptitude-result.html"> Wi-Fi </a></li>
                        <li><a href="apptitude-result.html"> Multifactor Authentication </a></li>
                        <li><a href="apptitude-result.html"> Federated Services </a></li>
                        <li><a href="apptitude-result.html"> VPN and Remote </a></li>
                        <li><a href="apptitude-result.html"> Access to Webmail sites: </a></li>
                        <li><a href="apptitude-result.html"> Webmail for HPT Employees </a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <span>Timesheet</span>
                </li>
                <li class="menu-title">
                    <span>Expense Reports</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Travel and Expense </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="profile.html"> Overviewe </a></li>
                        <li><a href="client-profile.html"> Training and Resources </a></li>
                        <li><a href="client-profile.html"> Travel Booking </a></li>
                        <li><a href="client-profile.html"> International Travel </a></li>
                        <li><a href="client-profile.html"> Expense Reports </a></li>
                        <li><a href="client-profile.html"> Per Diem and Mileage Rates </a></li>
                        <li><a href="client-profile.html"> Taxable Reimbursements </a></li>
                        <li><a href="client-profile.html"> Corporate Charge Card </a></li>
                        <li><a href="client-profile.html"> Calendar </a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>MyPortal (MyHR)</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-object-group"></i> <span> MyPortal </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="form-basic-inputs.html">QUICK ACTIONS</a></li>
                        <li><a href="form-input-groups.html">COVID Vaccination </a></li>
                        <li><a href="form-horizontal.html">Personal Details </a></li>
                        <li><a href="form-vertical.html"> Contact Info </a></li>
                        <li><a href="form-mask.html"> Emergency Contacts </a></li>
                        <li><a href="form-validation.html"> My Organization Chart </a></li>
                        <li><a href="form-validation.html"> Employment Info </a></li>
                        <li><a href="form-validation.html"> Additional Person Info </a></li>
                        <li><a href="form-validation.html"> Identification Infot </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> My </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">Directory </a></li>
                        <li><a href="data-tables.html">Personal Information </a></li>
                        <li><a href="data-tables.html">Rally Wellness </a></li>
                        <li><a href="data-tables.html">WellBeing 365 </a></li>
                        <li><a href="data-tables.html">Employee Assistance Program </a></li>
                        <li><a href="data-tables.html">Benifit Wallet (HSA </a></li>
                        <li><a href="data-tables.html">Employee Discount  </a></li>
                        <li><a href="data-tables.html">Vanguard Retirement</a></li>
                        <li><a href="data-tables.html">Employee Stock Purchase Plan / Equityt</a></li>
                        <li><a href="data-tables.html">Absence </a></li>
                        <li><a href="data-tables.html">HR Polices </a></li>
                        <li><a href="data-tables.html">Employee  </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> My Pay </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url 'timesheet' %}">Timesheet </a></li>
                        <li><a href="data-tables.html">ADP payroll Self Service  </a></li>
                        <li><a href="data-tables.html">Expense Report </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> My Tool </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">Report and Analytics </a></li>
                        <li><a href="data-tables.html">Webmail  </a></li>
                        <li><a href="data-tables.html">M365 Webmail </a></li>
                        <li><a href="data-tables.html">Travel </a></li>
                        <li><a href="data-tables.html">M365 Portal  </a></li>
                        <li><a href="data-tables.html">Services Desk ES3 </a></li>
                        <li><a href="data-tables.html">Barista </a></li>
                        <li><a href="data-tables.html">Password Reset </a></li>
                        <li><a href="data-tables.html">Zoom </a></li>
                        <li><a href="data-tables.html">MyData </a></li>
                        <li><a href="data-tables.html">Work list </a></li>
                        <li><a href="data-tables.html">Set Preference </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> My HPT </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">HPT now </a></li>
                        <li><a href="data-tables.html">HPT  </a></li>
                        <li><a href="data-tables.html">MOHPT</a></li>
                        <li><a href="data-tables.html">YourCause </a></li>
                        <li><a href="data-tables.html">Manager Action  </a></li>
                        <li><a href="data-tables.html">PM Update </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> My Career</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">HPT learning </a></li>
                        <li><a href="data-tables.html">Career and Performance  </a></li>
                        <li><a href="data-tables.html">Percipo Learning </a></li>
                        <li><a href="data-tables.html">Employee Career Portal  </a></li>
                        <li><a href="data-tables.html">Resume Wizard  </a></li>
                        <li><a href="data-tables.html">MyReferral </a></li>
                        <li><a href="data-tables.html">Redeployment </a></li>
                        <li><a href="data-tables.html">Learn Spectrum </a></li>
                    </ul>
                </li>
                 <li class="menu-title">
                    <span>Travel</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-plane"></i> <span> Travel and Expense </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="tables-basic.html">Overview </a></li>
                        <li><a href="data-tables.html">Training and Resources  </a></li>
                        <li><a href="data-tables.html">Travel Booking </a></li>
                        <li><a href="data-tables.html">International Travel  </a></li>
                        <li><a href="data-tables.html">Expense Reports  </a></li>
                        <li><a href="data-tables.html">Per Diem and Mileage Rates </a></li>
                        <li><a href="data-tables.html">Taxable Reimbursements </a></li>
                        <li><a href="data-tables.html">Corporate Charge Card </a></li>
                        <li><a href="data-tables.html">Calendar </a></li>
                    </ul>
                </li>
                 <li class="menu-title">
                    <span>Policy</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> Policies and Instructions </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="data-tables.html">Overview  </a></li>
                        <li><a href="data-tables.html">Keyword Index </a></li>
                        <li><a href="data-tables.html">Policy Suggestions  </a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Redeployment</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-table"></i> <span> Redeployment </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="data-tables.html">Overview  </a></li>
                        <li><a href="data-tables.html">Employees </a></li>
                        <li><a href="data-tables.html">Managers, HR, and Recruiterss  </a></li>
                        <li><a href="data-tables.html">Frequently Asked Questions (FAQ)  </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

