<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    {% block title %}
        <title>Dashboard - HighPointTechinc</title>
    {% endblock title %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">

    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {#    [if lt IE 9]#}
    {#                <script src="{% static 'js/html5shiv.min.js' %}"></script>#}
    {#                <script src="{% static 'js/respond.min.js' %}"></script>#}
    {#            [endif]#}
    {% block custom_css %}

    {% endblock custom_css %}
</head>
<body>

<div class="main-wrapper">
    <div id="loader-wrapper" style="display: none;">
        <div id="loader" style="display: none;">
            <div class="loader-ellips">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
        </div>
    </div>
    {% include 'Include/navbar.html' %}


    {% include 'Include/left_sidebar.html' %}


    <div class="page-wrapper">

        {% block content %}

        {% endblock content %}

    </div>

</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% block custom_js %}

{% endblock custom_js %}
</body>
</html>