{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="chat-main-row">

        <div class="chat-main-wrapper">
            <div class="col-lg-12 message-view">
                <div class="chat-window">
                    <div class="chat-contents">
                        <div class="chat-content-wrap">
                            <div class="chat-wrap-inner">
                                <div class="contact-box">
                                    <div class="row">
                                        <div class="contact-cat col-sm-4 col-lg-3">

                                            <div class="roles-menu">
                                                <ul>
                                                    <li class="active"><a href="javascript:void(0);">Leadership Hub</a></li>
                                                    <li><a href="#">Overview</a></li>
                                                    <li><a href="#">Corona virus information & Resources</a></li>
                                                    <li><a href="#">People management Resources</a></li>
                                                    <li><a href="#">Hiring New Employees</a></li>
                                                    <li><a href="#">Developing Leaders</a></li>
                                                    <li><a href="#">Operating the Business</a></li>
                                                    <li><a href="#">Supporting Integrations</a></li>
                                                    <li><a href="#">Driving Growth</a></li>
                                                    <li><a href="#">Promoting Ethics & Compliance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="contacts-list col-sm-8 col-lg-9">
                                            <div class="col-6">
                                                <div class="navbar justify-content-end">
                                                </div>
                                            </div>
                                               <img src="{% static 'img/leadership.png' %}" alt="Snow" style="length: 12000px; width:800px;">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}



