{% extends 'base.html' %}
{% load static %}
{% block custom_css %}

{% endblock %}
{% block content %}

    <div class="content container-fluid">
        <img src="{% static 'img/tech_head.png' %}" alt="Snow" style="length: 10000px; width:1100px;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/hard.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/micro.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/mydata.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/want.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/soft.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/infromation.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex mt-2">
                <div class="card flex-fill">
                    <img alt="" src="{% static 'img/collabration.png' %}" class="card-img-top">
                    <div class="card-header">
                    </div>
                </div>
            </div>
        </div>

        <img src="{% static 'img/tech_foot.png' %}" alt="Snow" style="length: 10000px; width:1100px;">
    </div>

{% endblock %}